<div class="about">
    <h2>Notre Boutique à Lunel - Hérault (34)</h2>
    <div class="about-content">
        <div class="about-gallery">
           <div class="about-picture">
             <img src="/assets/About/image1.jpg" alt="">
           </div>
           <div class="about-picture">
            <img src="/assets/About/image2.jpg" alt="">
        </div>
           <div class="about-picture">
            <img src="/assets/About/image3.jpg" alt="">
        </div>
           <div class="about-picture">
            <img src="/assets/About/image4.jpg" alt="">
        </div>
        </div>
        <div class="about-text">
            <div class="logo">Bio Shop</div>
            <div class="about-contact">
                <i class="fa-solid fa-house"></i>
                <span>10 chemin des oliviers, 34400 Lunel </span>
            </div>
            <div class="about-contact">
                <i class="fa-solid fa-phone"></i>
                <span>+33 04 67 00 00 00</span>
            </div>
            <div class="about-contact">
                <i class="fa-solid fa-envelope"></i>
                <span>bioshop-lunel@exemple.com</span>
            </div>
        </div>
    </div>
</div>