<footer>
  <div>
    <h3>Besoin d'aide ?</h3>
    <p>Nous contacter</p>
    <p>Informations de livraison</p>
    <p>Suivre votre commande</p>
  </div>
  <div>
    <h3>Informations légales</h3>
    <p>Condition générales de vente</p>
    <p>Mentions légales</p>
    <p>Protection des données</p>
  </div>
  <div>
    <form action="">
      <label for="email" >Inscrivez-vous a notre newsletter :</label>
      <div class="email-input">
        <input type="email" id="email" name="email" placeholder="Votre adresse mail"/>
        <button>
            <i class="fa-regular fa-envelope-open"></i>
        </button>
      </div>
    </form>
    <p>Rejoignez-nous :</p>
    <div class="social">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</footer>
