<header>
  <a [routerLink]="['']" class="logo">Bio-shop</a>
  <nav>
    <div class="navbar">
      <a [routerLink]="['store']" class="navlink">
        <i class="fa-solid fa-store"></i>
        <span>Nos produits</span>
      </a>
      <div  class="navlink" *ngIf="auth == false" (click)="toggleModal()">
        <i class="fa-solid fa-circle-user"></i>
        <span >Mon compte</span>
      </div>
      <a class="navlink" *ngIf="auth == true" (click)="toggleModal()">
        <i class="fa-solid fa-circle-user"></i>
        <span>Bonjour {{ userName }}</span>
      </a>
      <a [routerLink]="['cart']" class="navlink">
        <i class="fa-solid fa-basket-shopping"></i>
        <div class="item-quantity">
          <span> {{itemQuantity}} </span>
        </div>
        <span>Mon Panier</span>
      </a>
    </div>
  </nav>
</header>
