<header>
  <a [routerLink]="['']" class="logo">Bio-shop</a>
  <nav>
    <div class="navbar">
      <a [routerLink]="['store']" class="navlink">
        <i class="fa-solid fa-store"></i>
        <span>Nos produits</span>
      </a>
      <a class="navlink" *ngIf="auth == false">
        <i class="fa-solid fa-circle-user"></i>
        <span>Mon compte</span>
      </a>
      <a class="navlink" *ngIf="auth == true">
        <i class="fa-solid fa-circle-user"></i>
        <span>{{ userName }}</span>
      </a>
      <a [routerLink]="['cart']" class="navlink">
        <i class="fa-solid fa-basket-shopping"></i>
        <div class="item-quantity">{{itemQuantity}} </div>
        <span>Mon Panier</span>
      </a>
    </div>
  </nav>
</header>
