<app-breadcrumb place="article"></app-breadcrumb>
<div class="product" *ngIf="product">
  <h2>{{ product.title }}</h2>
  <div class="retail">
    <div class="picture">
      <img [src]="product.imageUrl" [alt]="product.title" />
    </div>
    <div class="content">
      <p class="description">{{ product.description }}</p>
      <div>
        <p>en stock</p>
        <p class="price">Prix : {{ product.price | currency : "EUR" }}</p>
        <app-buy-it size="large" [product]="product"></app-buy-it>
      </div>
    </div>
  </div>
</div>
