.cta {
    position: relative;
    height: 400px;
    width: 100%;

    img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .brightness-filter {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    h1 {
        position: absolute;
        width: 70%;
        top: 50px;
        left: 10%;
        color: rgba(255, 255, 255, 0.9);
        
    }

    button {
        position: absolute;
        bottom: 100px;
        right: 10%;
        font-weight: 700;

    }

}